---
layout: base
---
.span9
  ~ content
.span3
  #sidebar.well
    %ul.nav.nav-list
      %li.nav-header About Me
      %li
        %img{:src => "/images/lfryc.jpg"}
      %li.divider
      %li Lukáš Fryč
      %ul
        %li Software Engineer
        %li JBoss, by Red Hat
      %li.divider
      %li.years.nav-header Blog Archive
      -site.post_map.each do |year, months|
        %li.year{:id=>"year_#{year}"}
          %a{:data => {:toggle => "collapse", :target => "#year_#{year} > ul.year"}, :href => "##{year}"}
            = year
          %ul.year.collapse.nav.nav-list
            -months.each do |month, posts|
              %li.month.nav-header{:id=>"month_#{month}_#{year}"}
                %a{:data => {:toggle => "collapse", :target => "#month_#{month}_#{year} > ul.month" }, :href => "##{month}_#{year}"}
                  %span.month= Date::MONTHNAMES[month]
                  %span.count= "(#{posts.size})"
                %ul.month.nav.nav-list.collapse
                  -posts.each do |post|
                    %li
                      %a{:href => post.url}= post.title
                    %li.divider
      %li.divider
      %li.nav-header Tags
      %li
        = site.posts_tag_cloud
